body {
  background-color: #666;
  color: #ddd;
  padding-top: 40px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

#target {
  font-size: 40px;
  letter-spacing: 3px;
}

#info {
  color: #bbb;
}